@import 'tailwindcss';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	min-height: 100vh;
	width: 100%;
	height: 100%;
}

#app {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}