@import "tailwindcss";
@import "./colors.css";

* {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
} */

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply min-h-screen min-w-80 w-full p-4 sm:p-6;
  }

  h1 {
    @apply text-4xl font-semibold tracking-wide text-slate-300 mb-4;
  }

  h2 {
    @apply text-3xl font-semibold tracking-wide text-slate-300 mb-3;
  }

  h3 {
    @apply text-4xl font-semibold tracking-wide text-slate-300 mb-2;
  }

  p {
    @apply text-base text-slate-300 mb-2;
  }

  ul {
    @apply list-disc list-inside text-slate-300 mb-2;
  }

  ol {
    @apply list-decimal list-inside text-slate-300 mb-2;
  }
}
