@import "tailwindcss";
@import "./colors.css";

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-zinc-900 min-h-screen min-w-80 w-full;
  }

  h1 {
    @apply text-4xl font-semibold tracking-wide text-slate-300 mb-4;
  }

  h2 {
    @apply text-3xl font-semibold tracking-wide text-slate-300 mb-3;
  }

  h3 {
    @apply text-4xl font-semibold tracking-wide text-slate-300 mb-2;
  }

  p {
    @apply text-base text-slate-300 mb-2;
  }

  ul {
    @apply list-disc list-inside text-slate-300 mb-2;
  }

  ol {
    @apply list-decimal list-inside text-slate-300 mb-2;
  }
}
